@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

.root{
    -fx-font-family: 'Ubuntu';
}

.custom-pane {
    -fx-background-radius: 0px 0px 20px 20px ;
    -fx-background-color: #526ED0;
}
.navbar-button {
    -fx-font-family: 'Ubuntu';
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-background-color: #526ED0;
    -fx-background-radius: 0px;
}
.login-pane{
    -fx-font-family: "Noto Sans Thai";
    -fx-font-size: 16px;
    -fx-font-weight: 500;
}
.text-box{
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 16px;
}
.submit-button:hover{
    -fx-background-color: #435ebe;
}
.submit-button{
    -fx-font-family: 'Noto Sans Thai';
    -fx-font-size: 24px;
    -fx-background-color: #526ED0;
    -fx-background-radius: 0px;
}